@{
    ViewData["Title"] = "Setup Assistant";
}
<h1>@ViewData["Title"]</h1>
<h2>Welcome to SAMLPortal !</h2>
<p>You will be guided through the configuration of SAMLPortal.</p>

<a href="1">Next step</a>
