@using SAMLPortal.Models.Setup
@model StepThreeModel

@{
    ViewData["Title"] = "LDAP";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
			@foreach (var property in ViewData.ModelMetadata.Properties)
			{
				<div class="form-group">
					@Html.Label(property.PropertyName, property.DisplayName, new {@class="control-label"})
            		@Html.Editor(property.PropertyName, new{ htmlAttributes = new{ @class = "form-control"} })
					@Html.ValidationMessage(property.PropertyName, new {@class = "text-danger"})
           		</div>
			}
            <div class="form-group">
                <input type="submit" value="Next" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
