@{
    ViewData["Title"] = "Home Page";
    
}

@using System.Security.Claims;

<div class="text-center">
    <h1 class="display-4">Welcome, @this.User.FindFirst(ClaimTypes.Name).Value</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <div>Your memberships :</div>
		@foreach (var role in this.User.FindAll("membership"))
		{
			<p>@role</p>
		}
    }
</div>
